* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 100px;
}

@font-face {
    font-family: navigation-font;
    src: url(../js/Proxima\ Nova\ Font.otf);
}

.home {
    font-family: navigation-font;
    text-decoration: none;
    color: gray;
    font-size: 13px;
}

.about {
    font-family: navigation-font;
    position: relative;
    text-decoration: none;
    color: gray;
    right: 7%;
    font-size: 13px;
}

.website {
    font-family: navigation-font;
    position: relative;
    text-decoration: none;
    color: gray;
    right: 15%;
    font-size: 13px;
}

.resume {
    font-family: navigation-font;
    text-decoration: none;
    position: relative;
    left: 15%;
    color: gray;
    font-size: 13px;
}

.work {
    font-family: navigation-font;
    text-decoration: none;
    color: gray;
    font-size: 13px;
    position: relative;
    right: 4%;
}

.title {
    text-decoration: none;
    font-size: 25px;
    font-family: title-font;
    font-weight: bold;
    color: #F9B764;
    position: relative;
    right: 8%;
    letter-spacing: 5px;
}

@font-face {
    font-family: title-font;
    src: url(../js/Gotham-Medium.otf);
    font-weight: normal;
}

.hero-section {
    background: #F9B764;
    width: 100%;
    height: 70vh;
    position: relative;
}

.greetings {
    font-family: title-font;
    color: white;
    position: relative;
    font-size: 60px;
    top: 30%;
    left: 10%;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.greetings:hover {
    color: #06489b ;
    box-shadow: inset 500px 0 0 0 #ffffff;
}

.description-one {
    font-family: title-font;
    color: white;
    font-weight: lighter;
    position: relative;
    line-height: 54px;
    top: 35%;
    left: 10%;
    font-size: 40px;
}

.pic {
    position: relative;
    left: 72%;
    bottom: 150.6%;
    width: 28%;
}

.container-one {
    width: 28%;
    height: 70vh;
    background: rgba(31, 31, 31, 0.123);
    position: relative;
    left: 72%;
    bottom: 43.1%;
}

.botnav {
    border-top: 1px solid rgb(228, 228, 228);
    width: 120rem;
    position: relative;
    display: flex;
    top: 20px;
    align-items: center;
    text-align: center;
    justify-content: start;
}

.copyright {
    position: relative;
    left: 2%;
    top: 20px;
}

.tc {
    color: rgba(53, 53, 53, 0.733);
    position: relative;
    left: 6%;
    top: 20px;
}

.privacy {
    color: rgba(53, 53, 53, 0.733);
    position: relative;
    left: 8%;
    top: 20px;
}

.accessibility {
    color: rgba(53, 53, 53, 0.733);
    position: relative;
    left: 10%;
    top: 20px;
}

.facebook {
    color: rgba(24, 119, 242);
    position: relative;
    font-size: 30px;
    left: 60%;
    top: 20px;
}

.instagram {
    color: rgba(193, 53, 132);
    position: relative;
    font-size: 30px;
    left: 61%;
    top: 20px;
}

.x {
    position: relative;
    font-size: 30px;
    left: 62%;
    top: 20px;
}